@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#2a82d9;
    --black:hsl(0, 0%, 0%);
    --bg:#000000;
    --border:.1rem solid rgba(255, 255, 255, 0.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:2rem 5rem;
    font-size: 2.9rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 8rem;
}

.header .navbar a{
    margin:0 8rem;
    font-size: 3rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}


.mainimage .row{
    margin-top: 20rem;
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
    color:#fff
}


.mainimage .row .image{
    flex:1 1 45rem;
}

.mainimage .row .image img{
    width: 100%;
}
.mainimage .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.mainimage .row .content h1{
    font-size: 6rem;
    color: #ffffff;
    padding: 1rem;
    line-height: 1.8;
}

.mainimage .row .content p{
    font-size: 4rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.content .box-container{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
    gap:3rem;
}

.content .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}

.content .box-container .box img{
    height: 60rem;
}

.content .box-container .box h3{
    color: #fff;
    font-size: 3rem;
    padding:1rem 0;
}

.content .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}


.content1 .box-container .box:hover{
    background:#ffffff;
}

.content1 .box-container .box:hover > *{
    color:var(--black);
}

.content1 .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap:1rem;
}

.content1 .box-container .box{
    padding:1rem;
    text-align: center;
    border:var(--border);    
}

.content1 .box-container .box img{
    height: 15rem;
}

.content1 .box-container .box h3{
    color: #fff;
    font-size: 3rem;
    padding:1rem 0;
}

.content1 .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}


.content1 .box-container .box:hover{
    background:#ffffff;
}

.content1 .box-container .box:hover > *{
    color:var(--black);
}

.contenta .box-container{
    display: grid;
    grid-template-columns: 1fr;
}

.contenta .box-container .box{
    color: #2a82d9;
    padding:10rem;
    margin-top: 20rem;
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: left;
    border:var(--border);  
  
}

.assassingameplay{
    float: right;
    padding: auto;
}

.contenta .box-container .box img{
    height: 50rem;
}

.contenta .box-container .box h1{
    color: #fff;
    font-size: 10rem;
    padding:1rem 0;
}

.contenta .box-container .box h2{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}
.contenta .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}


.explore .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.explore .box-container .box{
    text-align: center;
    border:var(--border);
    padding: 2rem;
}

.explore .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color:#fff;
    margin:.3rem;
}

.explore .box-container .box .icons a:hover{
    background:var(--main-color);
}

.explore .box-container .box .image{
    padding: 2.5rem 0;
}

.explore .box-container .box .image img{
    height: 50rem;
}

.explore .box-container .box .content h3{
    color:#fff;
    font-size: 2.5rem;
}

.contact {
    padding-top: 30rem;

}

.contact .heading {
    font-size: 10rem;

}

.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
    padding-top: rem;
}

.contact .row .map{
    padding-top: 10rem;
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:4rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}




@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

   
}

Game page

@media (max-width:500px) 

    html {
        font-size: 50%;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

.containergame {
    padding-top: 15rem;
    max-width: 100%;
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large
    
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gamebox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,auto));

}




checkout

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto; padding: 0;
    box-sizing: border-box;
    outline: 0ch; border: 0ch;
    text-transform: capitalize;
    transition: all .2s linear; 
}
    
.container {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
   
}

.container form {
    padding: 20px;
    width: 70rem;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.container form .row {
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.container form .row .col{
    flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 50px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 20px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: #2ecc71;
}

.header .icons div{
  color:#fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover{
  color:var(--main-color);
}

#menu-btn{
  display: none;
}
